html{
    height: 100%;
}
body{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
}
div.topnav{
    height: 102px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px  #CCE3EC;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}
.iconleft{
    display: flex;
    align-items: center;
    order: 1;
    margin-left: 50px;
}
div.outring{
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 5px #CCE3EC;
}

div.inring{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #009966;
    position: relative;
    top: 12px;
    left: 12px;
}
div.topnav .title{
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 5px;
    color: pink;
    font-weight: bold;
}
div.topnav .version{
    font-size: 6px;
    position: absolute;
    margin-left: 70px;
    margin-top: 20px;
    letter-spacing: 2px;
    color: pink;
    font-weight: 100;
}
div.searchbar{
    border-radius: 20px;
    border: 1px solid pink;
    order: 2;
    display: flex;
    align-items: center;
    width: 670px;
}
input.search{
    border-width:0;
    font-size: 20px;
    margin-left: 12px;
    padding: 8px 0;
    width: 500px;
    font-weight: 100;
    outline: none;
}
div.iconsearch{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid red;
    margin-left: 20px;
}

div.iconsearch:after{
    content: "";
    transform: rotate(45deg);
    width: 8px;
    height: 2px;
    position: absolute;
    margin-top: 10px;
    margin-left: 6px;
    background-color: red;
}
.iconright{
    display: flex;
    align-items: center;
    order: 3;
    margin-right: 50px;
}
div.iconmail{
    width: 0;
    height:0;
    border-top: 8px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

div.iconmail:after{
    content: "";
    width: 3px;
    height: 0;
    border-bottom: 10px solid red;
    border-left: 9px solid transparent;
    position: absolute;
    margin: -6px -11px;
    transform: rotate(90deg);
}

div.iconmail:before{
    content: "";
    width: 3px;
    height: 0;
    border-bottom: 10px solid red;
    border-right: 9px solid transparent;
    position: absolute;
    margin: -6px -1px;
    transform: rotate(-90deg);
}

div.account{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid red;
    margin-left: 40px;
    overflow: hidden;
}
.main{
    order: 2;
    display: flex;
    margin-top: 102px;
    width: 100%;
}
div.leftnav{
    width: 160px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px 2px #CCE3EC;
    opacity: 0.8;
    position: fixed;
    z-index: 80;
}
ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.leftnav ul li{
    position: relative;
    margin: 80px auto;
    text-align: center;
}
.leftnav ul li i{
    height: 40px;
    width: 35px;
    background-size: cover;
    display: inline-block;
}
.jiezhen{
    background-image: url("../images/接诊.png");
}
.leftnav li:hover .jiezhen{
    background-image: url("../images/接诊2.png");
}
.huizhen{
    background-image: url("../images/会诊.png");
}
.leftnav li:hover .huizhen{
    background-image: url("../images/会诊2.png");
}
.mydata{
    background-image: url("../images/数据2.png");
}
li:hover a{
    color: #fb3165;
}

.leftnav a{
    text-decoration: none;
    color: black;
}
.leftnav ul li .photo1{
    position: absolute;
    margin-left: -60px;
}

div.content{
    background-color: #f9f9f9;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
    width: 100%;
    overflow: scroll;
}
div.inputtime{
    margin: 60px auto;
    height: 28px;
    display: flex;
    align-items: center;
    order: 1;
}
div.inputtime .reminder{
    font-size: 20px;
    letter-spacing: 1px;
    color: red;
    width: 154px;
}
div.inputtime .time{
    width: 30px;
    text-align: center;
}
div.inputtime .conjunction{
    width: 62px;
    font-size: 20px;
    text-align: center;
}
div.inputtime .result{
    width: 124px;
    text-align: right;
    font-weight: bold;
}
div.inputtime .inputrange{
    width: 155px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid pink;
    text-align: right;
    height: 26px;
}
.inputtime .starttime{
    display: flex;
    align-items: center;
}
.inputtime .endtime{
    display: flex;
    align-items: center;
}

div.inputtime .inputyear{
    width: 62px;
    border-radius: 12px;
    border: 1px solid pink;
    overflow: hidden;
    text-align: center;
}
div.inputtime .inputdaymon{
    display:table-cell;
    width:30px;
    border-radius: 12px;
    border: 1px solid pink;
    overflow: hidden;
    text-align: center;
}
div.inputtime input{
    width: 30px;
    outline: none;
    border: none;
    background-color: #f9f9f9;
    text-align: center;
    padding: 4px 0;
}
.maincontent{
    margin: 60px auto;
    width: 100%;
    height: 100%;
    order: 2;
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
}
.maincontent .title{
    display:block;
    height: 28px;
}
.variables{
    order: 1;
    margin-left: 60px;
}
div.dimensions{
    height: 400px;
    width: 200px;
}

.photo2{
    background-size: 8px 20px;
    background-repeat: no-repeat;
    font-style: normal;
}
.photo2backred{
    background-image: url("../images/界面切换符.png");
}
.photo2backblue{
    background-image: url("../images/界面切换符2.png");
}
h3{
    font-weight: bold;
    position: relative;
    display: inline;
    margin-left: 18px;
}
.content ul{
    margin-left: 20px;
}
.variables ul li p:hover{
    color:#fb3165;
}
h6{
    color: gray;
    position: relative;
    margin: 10px 0;
    display: block;
}
.dimensions p{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid red;
    position: relative;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}
div.magnitude {
    height: 400px;
    width: 350px;
}
.magnitude p{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid pink;
    position: relative;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}
div.choosedvariables{
    order: 2;
}
#selectedvariables{
    height: 200px;
    position: relative;
    margin-left: 20px;
}
#chart{
    height: 600px;
    position: relative;
    min-width: 500px;
}
.rightsidebar{
    order: 3;
    width: 135px;
}
div.subtype{
    width: 135px;
    height: 400px;
}
.subtype table{
    margin-left: 5px;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 15px 0px;
}
.subtype table th{
    padding: 1px;
    color: gray;
}
.subtype table th .active{
    color: #fb3165;
}
th i{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
th p{
    font-size: 10px;
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: normal;
}
th:hover p{
    color:#fb3165;
}
.imgbarchart{
    background-image: url(../images/条形.png);
}
th:hover .imgbarchart{
    background-image: url(../images/条形2.png);
}
.imgpie{
    background-image: url(../images/饼图.png);
}
th:hover .imgpie{
    background-image: url(../images/饼图2.png)
}
.imgarea{
    background-image: url(../images/面积.png);
}
th:hover .imgarea{
    background-image: url(../images/面积2.png);
}
.imgfoldline{
    background-image: url(../images/折线.png);
}
th:hover .imgfoldline{
    background-image: url(../images/折线2.png);
}
.imgsolid{
    background-image: url(../images/实点.png);
}
th:hover .imgsolid{
    background-image: url(../images/实点2.png);
}
.imghollow{
    background-image: url(../images/空点.png);
}
th:hover .imghollow{
    background-image: url(../images/空点2.png);
}
.imgproportion{
    background-image: url(../images/比重.png);
}
th:hover .imgproportion{
    background-image: url(../images/比重2.png)
}
.imggunter{
    background-image: url(../images/甘特.png);
}
th:hover .imggunter{
    background-image: url(../images/甘特2.png);
}
.imgmedian{
    background-image: url(../images/中位.png);
}
th:hover .imgmedian{
    background-image: url(../images/中位2.png);
}
.imgfixed{
    background-image: url(../images/定点.png);
}
th:hover .imgfixed{
    background-image: url(../images/定点2.png);
}
div.variablestab{
    width: 135px;
    height: 200px;
    margin-top:20px;
}
.variablestab p{
    color: gray;
    font-size: 15px;
}
.variablestab ul li{
    height: 30px;
}
.tools{
    width: 135px;
    height: 100px;
}
.tools p{
    background-color: red;
    color: white;
    display: inline-block;
    width: 110px;
    text-align: center;
    font-weight: 100;
    border-radius: 10px;
    font-size: 14px;
    padding: 1px 10px;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
}
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
.overlay {
    fill: none;
    pointer-events: all;
}
.focus circle {
    fill: none;
    stroke: steelblue;
}
.axis path,
.axis line {
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}
.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
  }
.grid path {
    stroke-width: 0;
}
.column{
    fill:steelblue;
}
.pathline{
    stroke: red;
    fill: none;
    stroke-width: 1.5;
}
.patharea{
    stroke: red;
    fill: red;
}
#tooltip{
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
    z-index: 100;
}
#tooltip.hidden{
    display: none;
}
#tooltip p{
    margin:0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
#tooltip p strong{
    display: inline-block;
    width: 100px;
}
.axisdimension{
    display: inline-block;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: 15px;
    color: black;
}
.axismagnitude{
    display: inline-block;
    border-radius: 10px;
    background-color: pink;
    position: absolute;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: 50px;
    color: black;
}